services:
  qdrant:
    image: qdrant/qdrant:latest
    restart: always
    container_name: qdrant
    ports:
      - 6333:6333
      - 6334:6334
    expose:
      - 6333
      - 6334
      - 6335
    configs:
      - source: qdrant_config
        target: /qdrant/config/production.yaml
    volumes:
      - ./qdrant_data:/qdrant/storage

  neo4j:
    image: neo4j:5.26.9
    container_name: neo4j_lore
    restart: always
    ports:
      - "7474:7474"   # HTTP (Браузер)
      - "7687:7687"   # Bolt (Драйвер)
    environment:
      - NEO4J_AUTH=neo4j/password  # ⚠️ Поменяй пароль для продакшена
      # Включаем APOC (полезно для сложных запросов, но опционально)
      - NEO4J_PLUGINS=["apoc"] 
    volumes:
      - ./neo4j_data:/data

configs:
  qdrant_config:
    content: |
      log_level: INFO
      